@page "/wizard"
@using WAAI.Features.Wizard.Steps.Personal
@using WAAI.Features.Wizard.Steps.Account
@using WAAI.Features.Wizard.Steps.Preferences
@using WAAI.Features.Wizard.Steps.Complete
@using WAAI.Core.Components

<PageTitle>Wizard</PageTitle>

<div class="max-w-4xl mx-auto">
    <PageHeader Title="Setup Wizard" />
    
    <StepWizard TStep="WizardStep" 
                CurrentStep="_currentStep" 
                CurrentStepChanged="OnStepChanged"
                GetModelForStep="GetCurrentModel"
                OnComplete="Finish">
        <StepperContent>
            <WizardStepper CurrentStep="_currentStep" />
        </StepperContent>
        <StepContent>
            @switch (_currentStep)
            {
                case WizardStep.Personal:
                    <PersonalStep />
                    break;
                case WizardStep.Account:
                    <AccountStep />
                    break;
                case WizardStep.Preferences:
                    <PreferencesStep />
                    break;
                case WizardStep.Complete:
                    <CompleteStep PersonalInfo="_personalInfo" AccountInfo="_accountInfo" PreferencesInfo="_preferencesInfo" />
                    break;
            }
        </StepContent>
    </StepWizard>
</div>

@code {
    private WizardStep _currentStep = WizardStep.Personal;
    
    private PersonalInfo _personalInfo = new();
    private AccountInfo _accountInfo = new();
    private PreferencesInfo _preferencesInfo = new();

    private Task OnStepChanged(WizardStep newStep)
    {
        _currentStep = newStep;
        return Task.CompletedTask;
    }

    private void Finish() => _currentStep = WizardStep.Personal;

    private object GetCurrentModel(WizardStep step) => step switch
    {
        WizardStep.Personal => _personalInfo,
        WizardStep.Account => _accountInfo,
        WizardStep.Preferences => _preferencesInfo,
        _ => new object()
    };
}
