@using WAAI.Core.Components
<div class="max-w-md mx-auto space-y-4">
    <div class="prose prose-lg">
        <h2>Personal Information</h2>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Full Name <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.FullName" class="input input-bordered w-full" placeholder="John Doe"/>
        <ValidationMessageWithTooltip For="@(() => Model.FullName)"/>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Email <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.Email" type="email" class="input input-bordered w-full" placeholder="john@example.com"/>
        <ValidationMessageWithTooltip For="@(() => Model.Email)"/>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Phone <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.Phone" type="tel" class="input input-bordered w-full" placeholder="+1 234 567 890"/>
        <ValidationMessageWithTooltip For="@(() => Model.Phone)"/>
    </div>
</div>
