@page "/onboarding"
@using WAAI.Core.Components
@using WAAI.Features.UserOnboarding.Steps.Account
@using WAAI.Features.UserOnboarding.Steps.Complete
@using WAAI.Features.UserOnboarding.Steps.Personal
@using WAAI.Features.UserOnboarding.Steps.Preferences

<PageTitle>User Onboarding</PageTitle>

<div class="max-w-4xl mx-auto">
    <PageHeader Title="User Onboarding"/>

    <StepWizard TStep="OnboardingStep"
                CurrentStep="_currentStep"
                CurrentStepChanged="OnStepChanged"
                Models="_models"
                OnComplete="Finish">
        <StepContent>
            @if (_currentStep == OnboardingStep.Personal)
            {
                <PersonalStep Model="_personalInfo"/>
            }
            else if (_currentStep == OnboardingStep.Account)
            {
                <AccountStep Model="_accountInfo"/>
            }
            else if (_currentStep == OnboardingStep.Preferences)
            {
                <PreferencesStep Model="_preferencesInfo"/>
            }
            else if (_currentStep == OnboardingStep.Complete)
            {
                <CompleteStep Summary="_completeSummary"/>
            }
        </StepContent>
    </StepWizard>
</div>
