@using WAAI.Core.Components
@using Blazored.LocalStorage
@using WAAI.Core.Services
@inject ILocalStorageService LocalStorage
@inject MessageService MessageService
@implements IDisposable
@inherits LayoutComponentBase

@if (_horizontalMenu)
{
    <div class="flex flex-col min-h-screen">
        <div class="navbar bg-primary text-primary-content shadow-sm">
            <div class="flex-1">
                <NavMenu/>
            </div>
        </div>
        <main class="flex-1 p-6 bg-base-200">
            @Body
        </main>
        <footer class="footer footer-center p-4 bg-base-300 text-base-content">
            <div>
                <AppVersion/>
            </div>
        </footer>
    </div>
}
else
{
    <div class="drawer lg:drawer-open">
        <input id="main-drawer" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-content flex flex-col min-h-screen">
            <main class="flex-1 p-6 bg-base-200 min-h-0">
                @Body
            </main>
        </div>
        <div class="drawer-side">
            <label for="main-drawer" class="drawer-overlay"></label>
            <div class="flex flex-col h-full">
                <div class="flex-1">
                    <NavMenu/>
                </div>
                
            </div>
        </div>
    </div>
}

@code {
    private bool _horizontalMenu;

    protected override async Task OnInitializedAsync()
    {
        _horizontalMenu = await LocalStorage.GetItemAsync<bool>("horizontalMenu");
        MessageService.Subscribe(HandleMessage);
    }

    private void HandleMessage(string messageType, object payload)
    {
        if (messageType == "MenuStyleChanged" && payload is bool horizontalMenu)
        {
            _horizontalMenu = horizontalMenu;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        MessageService.Unsubscribe(HandleMessage);
    }
}