@using WAAI.Core.Components
<div class="max-w-md mx-auto space-y-4">
    <div class="prose prose-lg">
        <h2>Account Details</h2>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Username <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.Username" class="input input-bordered w-full" placeholder="johndoe"/>
        <ValidationMessageWithTooltip For="@(() => Model.Username)"/>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Password <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.Password" type="password" class="input input-bordered w-full" placeholder="••••••••"/>
        <ValidationMessageWithTooltip For="@(() => Model.Password)"/>
    </div>
    <div class="form-control w-full">
        <label class="label">
            <span class="label-text">Confirm Password <span class="text-error">*</span></span>
        </label>
        <InputText @bind-Value="Model.ConfirmPassword" type="password" class="input input-bordered w-full" placeholder="••••••••"/>
        <ValidationMessageWithTooltip For="@(() => Model.ConfirmPassword)"/>
    </div>
</div>
