@page "/counter"

<PageTitle>Counter</PageTitle>

<div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-6">Counter</h1>
    <p class="text-xl mb-4" role="status">Current count: <span class="font-bold text-primary">@currentCount</span></p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}