@using System.Reflection

<a @onclick="@(() => Navigation.NavigateTo("/changelog"))"
   class="text-xs opacity-50 cursor-pointer hover:opacity-100 transition">
    v@_version
</a>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    private string _version = "1.0.0";

    protected override void OnInitialized()
    {
        _version = Assembly.GetExecutingAssembly()
            .GetCustomAttribute<AssemblyFileVersionAttribute>()
            ?.Version ?? "1.0.0";
    }
}
