@if (Visible)
{
    <button type="@Type"
            @onclick="OnClick"
            disabled="@Disabled"
            class="btn @GetButtonClass()">
        @ChildContent
    </button>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Primary;

    private string GetButtonClass() => Variant switch
    {
        ButtonVariant.Primary => "btn-primary",
        ButtonVariant.Secondary => "btn-secondary",
        ButtonVariant.Success => "btn-success",
        _ => "btn-neutral"
    };

    public enum ButtonVariant
    {
        Primary,
        Secondary,
        Success
    }
}
