@using Ardalis.SmartEnum
@typeparam TStep where TStep : Ardalis.SmartEnum.SmartEnum<TStep>

<ul class="steps w-full mb-8">
    @foreach (var step in SmartEnum<TStep>.List.OrderBy(s => s.Value))
    {
        <li class="step @(CurrentStep >= step ? "step-primary" : "")" data-content="@step.Value">
            @step.Name
        </li>
    }
</ul>
