@using Ardalis.SmartEnum
@typeparam TStep where TStep : Ardalis.SmartEnum.SmartEnum<TStep>

<div class="breadcrumbs mb-8">
    <ul>
        @foreach (var step in SmartEnum<TStep>.List.OrderBy(s => s.Value))
        {
            <li class="@(CurrentStep >= step ? "font-bold text-primary" : "opacity-50")">
                @step.Name
            </li>
        }
    </ul>
</div>
